<template>
  <div class="historial">
    <!-- Fila Buscar y Estado -->
    <v-row>
      <!-- Buscar -->
      <v-col sm="10">
        <v-text-field label="Buscar..." append-icon="search" solo></v-text-field>
      </v-col>
      <!-- Estado -->
      <v-col sm="2">
        <v-select :items="Estados" label="Estado" solo></v-select>
      </v-col>
    </v-row>

    <!-- Historial Citas Medicas -->
    <v-card height="70vh" class="elevation-3">
      <v-timeline :dense="true">
        <v-timeline-item v-for="n in 5" :key="n">
          <v-row>
            <v-col cols="2" class="d-flex flex-column align-self-center text-center time">
              <span>14 de agosto, 2020</span>
              <span>13:30 - 14:30</span>
            </v-col>
            <v-col>
              <v-card width="500px" class="elevation-4">
                <v-card-title class="headline">Medico General</v-card-title>
                <div class="d-flex flex-column pl-4 pr-4 pb-4">
                  <span class="pb-4">Alvaro Vega Escobar</span>
                  <div class="d-flex flex-row justify-space-between">
                    <span>Cesfam Labranza, Temuco, Araucania</span>
                    <span>
                      <v-icon>stop</v-icon>Pendiente
                    </span>
                  </div>
                </div>
              </v-card>
            </v-col>
          </v-row>
        </v-timeline-item>
      </v-timeline>
    </v-card>
  </div>
</template>
<script>
export default {
  data: () => ({
    Estados: [
      { text: "Pendiente", value: "pendiente" },
      { text: "Finalizada", value: "finalizada" },
      { text: "Cancelada", value: "cancelada" },
    ],
  }),
  mounted() {
    this.$emit("updateToolbarText", "");
    this.$emit("updateToolbarBack", false);
  },
};
</script>
<style lang="scss" scoped>
.v-card{
  overflow-y: auto;
  overflow-x: hidden;
  color: grey !important;
}
</style>