<template>
  <div class="ver_cita">
    <v-dialog v-model="dialog" width="600px">
      <AgendarCita @closeDialog="closeDialog"></AgendarCita>
    </v-dialog>
    <v-dialog v-model="dialog2" width="600px">
      <ReagendarCita @closeDialog2="closeDialog2"></ReagendarCita>
    </v-dialog>
    <v-speed-dial v-model="fab" bottom right fixed direction="top" :open-on-hover="true">
      <template v-slot:activator>
        <v-btn v-model="fab" color="info darken-1" dark fab>
          <v-icon>more_vert</v-icon>
        </v-btn>
      </template>
      <v-tooltip left>
        <template v-slot:activator="{ on, attrs }" v-if="$route.query.estado == 'Pendiente'">
          <v-btn
            fab
            dark
            small
            color="warning lighten-1"
            v-bind="attrs"
            v-on="on"
            @click="dialog2 = true"
          >
            <v-icon>update</v-icon>
          </v-btn>
        </template>
        <span>Reagendar cita</span>
      </v-tooltip>
      <v-tooltip left>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            fab
            dark
            small
            color="green lighten-1"
            v-bind="attrs"
            v-on="on"
            @click="dialog = true"
          >
            <v-icon>add</v-icon>
          </v-btn>
        </template>
        <span>Agendar cita</span>
      </v-tooltip>
    </v-speed-dial>

    <v-card class="mr-10 ml-10 mt-4">
      <!-- Tabs (Son los menus)-->
      <v-tabs v-model="tab" background-color="accent-4" grow icons-and-text>
        <v-tabs-slider></v-tabs-slider>

        <v-tab href="#consulta-tab">
          <div>
            <v-icon left>today</v-icon>Consulta
          </div>
        </v-tab>

        <v-tab href="#ficha-tab">
          <div>
            <v-icon left>content_paste</v-icon>Ficha
          </div>
        </v-tab>

        <v-tab href="#observacion-tab">
          <div>
            <v-icon left>sms</v-icon>Observación
          </div>
        </v-tab>
      </v-tabs>
      <!-- End -->

      <!-- Tabs content (Contenido de cada tab) -->
      <v-tabs-items v-model="tab">
        <!-- Consulta Tab -->
        <v-tab-item value="consulta-tab">
          <CitaDetalle :idCita="$route.query.id_cita" @observacion="observacion"></CitaDetalle>
        </v-tab-item>
        <!-- End -->

        <!-- Ficha Tab -->
        <v-tab-item value="ficha-tab">
          <FichaMedica :idPaciente="$route.query.id_paciente"></FichaMedica>
        </v-tab-item>
        <!-- End -->

        <!-- Observacion Tab -->
        <v-tab-item value="observacion-tab">
          <CitaObservacion :idCita="$route.query.id_cita" :obs="obs"></CitaObservacion>
        </v-tab-item>
        <!-- End -->
      </v-tabs-items>
      <!-- End -->
    </v-card>
  </div>
</template>
<script>
import CitaDetalle from "./components/Cita_Detalle";
import FichaMedica from "./components/Ficha_Medica";
import CitaObservacion from "./components/Cita_Observacion";
import AgendarCita from "./components/Agendar_Cita";
import ReagendarCita from "./components/Reagendar_Cita";

export default {
  components: {
    CitaDetalle,
    FichaMedica,
    CitaObservacion,
    AgendarCita,
    ReagendarCita,
  },
  data() {
    return {
      tab: null,
      fab: "",
      text: "",
      obs: "",
      dialog: false,
      dialog2: false,
    };
  },
  methods: {
    observacion(value) {
      this.obs = value;
    },
    closeDialog(value) {
      this.dialog = value;
    },
    closeDialog2(value) {
      this.dialog2 = value;
    },
  },
  mounted() {
    /* Recibe un texto de la url y lo emite (para el tooltip) */
    this.$emit("updateToolbarText", this.$route.query.text);
    this.$emit("updateToolbarBack", true);
  },
  created() {},
};
</script>
<style lang="scss">
.v-card {
  overflow-y: auto;
  color: grey !important;
  h1,
  label {
    color: rgb(33, 150, 243);
  }
}
</style>