<template>
  <div class="sidebar">
    <!-- Sidebar -->
    <v-navigation-drawer color="blue" :mini-variant="toggle" permanent app dark>
      <!-- Sidebar header -->
      <v-list-item two-line class="px-2">
        <v-list-item-avatar>
          <img src="https://randomuser.me/api/portraits/women/81.jpg" />
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title>{{currentUser.userDetail.nombres.split(" ")[0]}} {{currentUser.userDetail.apellidos.split(" ")[0]}}</v-list-item-title>
          <v-list-item-subtitle>{{currentUser.userDetail.titulo}}</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
      <!-- End -->

      <!-- Divider -->
      <v-divider></v-divider>
      <!-- End -->

      <!-- Navigation list -->
      <v-list>
        <v-tooltip v-for="item in navigation" :key="item.title" right :disabled="!toggle">
          <template v-slot:activator="{ on, attrs }">
            <v-list-item
              link
              v-bind="attrs"
              v-on="on"
              @click="navigate(item.title)"
              :class="item.title === $route.name ? 'active' : ''"
            >
              <!-- Icon -->
              <v-list-item-icon>
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-item-icon>
              <!-- End -->

              <!-- Title -->
              <v-list-item-content>
                <v-list-item-title>{{ item.title }}</v-list-item-title>
              </v-list-item-content>
              <!-- End -->
            </v-list-item>
          </template>

          <!-- Tooltip (only mini sidebar)-->
          <span>{{ item.title }}</span>
          <!-- End -->
        </v-tooltip>
      </v-list>
      <!-- End -->

      <!--Sidebar bottom logout-->
      <template v-slot:append>
        <v-tooltip right :disabled="!toggle">
          <template v-slot:activator="{ on, attrs }">
            <v-list-item link v-bind="attrs" v-on="on" @click.prevent="logOut">
              <!-- Icon -->
              <v-list-item-icon>
                <v-icon>logout</v-icon>
              </v-list-item-icon>
              <!-- End -->

              <!-- Title -->
              <v-list-item-content>
                <v-list-item-title>Cerrar sesión</v-list-item-title>
              </v-list-item-content>
              <!-- End -->
            </v-list-item>
          </template>
          <!-- Tooltip (only mini sidebar)-->
          <span>Cerrar sesión</span>
          <!-- End -->
        </v-tooltip>
      </template>
      <!-- End -->
    </v-navigation-drawer>
    <!-- End -->
  </div>
</template>
<script>
export default {
  name: "Sidebar",
  props: {
    isExpanded: Boolean,
  },
  model: {
    prop: "isExpanded",
    event: "changeStatus",
  },
  computed: {
    toggle: {
      get: function () {
        return this.isExpanded;
      },
      set: function (value) {
        this.$emit("changeStatus", value);
      },
    },
    currentUser() {
      return this.$store.state.auth.user;
    },
  },
  data: () => ({
    mini: false,
    user: {
      nombre: "",
      apellidos: "",
      titulo: "",
    },
    color: "blue",
    navigation: [
      {
        title: "Citas Medicas",
        icon: "dashboard",
      },
  //    {
  //    title: "Historial Citas",
  //    icon: "history",
  //    },
    ],
  }),
  methods: {
    /* Emite la ruta a cual navegar */
    navigate(route) {
      this.$emit("navigate", route);
    },
    logOut() {
      this.$store.dispatch("auth/logout");
      /*eslint no-unused-vars: ["error", { "args": "none" }]*/
      this.$router.push({ name: "Login" }).catch((err) => {});
    },
  },
};
</script>
<style lang="scss">
.active {
  background: rgb(28, 120, 196);
}
</style>