<template>
  <div class="toolbar">
    <transition name="fade" mode="in-out">
      <!-- Toolbar -->
      <v-app-bar flat app class="grey lighten-5" :key="text">
        <!-- Boton para sidebar -->
        <v-app-bar-nav-icon @click="toggle()"></v-app-bar-nav-icon>
        <!-- End -->

        <!-- Toolbar title -->
        <v-toolbar-title>
          {{title}}
          <span v-if="text.length > 0">{{text}}</span>
        </v-toolbar-title>
        <!-- End -->
        <v-spacer></v-spacer>
        <!-- Boton back -->
        <v-btn icon v-if="isBack" @click="back()">
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>
        <!-- End -->
      </v-app-bar>
      <!-- End -->
    </transition>
  </div>
</template>
<script>
export default {
  name: "Toolbar",
  props: {
    drawer: Boolean,
    title: String,
    text: String,
    isBack: Boolean,
  },
  data: function () {
    return {};
  },
  methods: {
    /* Emite el estado para contraer y expander el sidebar */
    toggle() {
      this.$emit("toggle", !this.drawer);
    },
    /* Navega hacia la ruta anterior */
    back() {
      this.$router.go(-1);
    },
  },
};
</script>
<style lang="scss">
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>