<template>
  <div class="Agendar_Cita">
    <v-card>
      <v-toolbar dark dense flat color="info">
        <v-toolbar-title>Agendar cita con especialistas</v-toolbar-title>
      </v-toolbar>
      <v-card-text>
        <v-btn outlined block color="info" dark @click="agregarCita">Agregar cita</v-btn>
        <v-form>
          <div
            v-for="(item, i) in citas"
            :key="i"
            class="d-flex flex-row justify-space-around mt-4"
          >
            <v-select
              v-model="item.especialidad"
              :items="especialidades"
              item-text="nombre_especialidad"
              label="Especialidad"
              @change="obtenerFechas($event, item)"
              solo
              dense
              return-object
            ></v-select>
            <v-menu
              :ref="'menu'+i"
              v-model="item.fecha"
              :close-on-content-click="false"
              :return-value.sync="item.date"
              transition="scale-transition"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="item.date"
                  label="Fecha"
                  prepend-inner-icon="event"
                  readonly
                  solo
                  dense
                  class="mr-2 ml-2"
                  v-bind="attrs"
                  v-on="on"
                  :disabled="!item.citas_sin_cupo"
                  required
                ></v-text-field>
              </template>
              <v-date-picker
                v-model="item.date"
                no-title
                scrollable
                :min="new Date().toISOString().slice(0,10)"
                :allowed-dates=" val => (item.citas_sin_cupo.indexOf(val) == -1)"
              >
                <v-spacer></v-spacer>
                <v-btn text color="primary" @click="item.fecha = false">Cancel</v-btn>
                <v-btn text color="primary" @click="saveRef('menu'+i, item)">OK</v-btn>
              </v-date-picker>
            </v-menu>
            <v-select
              v-model="item.hora"
              :items="item.horas"
              label="Horas"
              item-text="hora_inicio"
              solo
              dense
              return-object
              :disabled="!item.horas"
            ></v-select>
          </div>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error darken-1" text @click="closeDialog">Cancelar</v-btn>
        <v-btn color="info darken-1" text @click="submit(citas)">Agregar citas</v-btn>
      </v-card-actions>
    </v-card>
    <v-snackbar v-model="snackbar" :timeout="timeout">
      {{ text }}
      <template v-slot:action="{ attrs }">
        <v-btn color="blue" text v-bind="attrs" @click="snackbar = false">Close</v-btn>
      </template>
    </v-snackbar>
  </div>
</template>
<script>
import axios from "axios";

export default {
  name: "AgendarCita",
  props: {},
  data: () => ({
    citas: [],
    especialidades: [],
    snackbar: false,
    text: "",
    timeout: 2000,
  }),
  methods: {
    agregarCita() {
      this.citas.push({
        especialidad: "",
        fecha: "",
        date: "",
        hora: "",
        citas_sin_cupo: null,
        horas: null,
        state: false,
      });
    },
    saveRef(ref, item) {
      this.$refs[ref][0].save(item.date);
      this.obtenerHoras(item, this.$route.query.id_paciente);
    },
    obtenerFechas(value, item) {
      console.log(item);
      axios
        .get("http://52.87.209.179/api/buscarFechasCitaMedica", {
          params: {
            id_especialidad_cesfam: value.id_especialidad_cesfam,
          },
        })
        .then((response) => {
          item.citas_sin_cupo = response.data.citas_sin_cupo;
          console.log(response.data);
        });
    },
    obtenerHoras(item, idPaciente) {
      console.log(
        item.especialidad.id_especialidad_cesfam +
          " " +
          idPaciente +
          " " +
          item.date
      );
      axios
        .get("http://52.87.209.179/api/buscarHorasCitaMedica", {
          params: {
            id_especialidad_cesfam: item.especialidad.id_especialidad_cesfam,
            fecha: item.date,
            id_paciente: idPaciente,
          },
        })
        .then((response) => {
          item.horas = response.data;
          console.log(response.data);
        });
    },
    getAllowedDates(val, dates) {
      if (dates) {
        if (dates.indexOf(val) !== -1) {
          return true;
        } else {
          return false;
        }
      }
    },
    submit(list) {
      console.log(list);
      list.forEach((element) => {
        console.log(element.especialidad.id_especialidad_cesfam);
        axios
          .post("http://52.87.209.179/api/agregarCitaMedica", {
            nro_espera: element.hora.nro_espera,
            fecha_inicio: element.date + " " + element.hora.hora_inicio,
            fecha_final: element.date + " " + element.hora.hora_final,
            especialidad_cesfam_id: element.especialidad.id_especialidad_cesfam,
            sala_id: element.especialidad.id_sala,
            paciente_id: this.$route.query.id_paciente,
          })
          .then((response) => {
            console.log(response);
            if(response.status == 201){
              this.text = "Cita agrega agregada";
              this.snackbar = true;
          }
          });
          this.closeDialog();
      });
    },
    closeDialog(){
      this.$emit("closeDialog", false);
      this.citas = [];
    }
  },

  mounted() {
    axios
      .get(
        "http://52.87.209.179/api/verEspecialidadesCesfam/" +
          this.$route.query.id_cesfam
      )
      .then((response) => {
        this.especialidades = response.data;
        console.log(response.data);
      });
  },
};
</script>
<style lang="scss">
</style>