<template>
  <div class="Ficha_Medica">
    <v-card flat class="pa-4 pl-12 pr-12" max-height="70vh">
      <div class="d-flex flex-row justify-center align-center mb-6">
        <h1>Datos Personales</h1>
      </div>
      <v-row no-gutters>
        <v-col>
          <v-row no-gutters class="d-flex flex-column mb-6">
            <span class="text-h6">Nombre</span>
            <span>{{paciente.nombres}} {{paciente.apellidos}}</span>
          </v-row>
          <v-row no-gutters class="d-flex flex-column mb-6">
            <span class="text-h6">Fecha de nacimiento</span>
            <span>{{paciente.fecha_nacimiento | moment("MMMM Do, YYYY")}}</span>
          </v-row>
          <v-row no-gutters class="d-flex flex-column mb-6">
            <span class="text-h6">Sexo</span>
            <span>{{paciente.sexo}}</span>
          </v-row>
          <v-row no-gutters class="d-flex flex-column mb-6">
            <span class="text-h6">Lugar de nacimiento</span>
            <span>{{paciente.lugar_nacimiento}}</span>
          </v-row>
          <v-row no-gutters class="d-flex flex-column mb-6">
            <span class="text-h6">Teléfono Celular</span>
            <span>{{paciente.telefono_celular}}</span>
          </v-row>
        </v-col>
        <v-col>
          <v-row no-gutters class="d-flex flex-column mb-6">
            <span class="text-h6">Rut</span>
            <span>{{paciente.user.rut}}</span>
          </v-row>
          <v-row no-gutters class="d-flex flex-column mb-6">
            <span class="text-h6">Edad</span>
            <span>{{paciente.edad}}</span>
          </v-row>
          <v-row no-gutters class="d-flex flex-column mb-6">
            <span class="text-h6">Nacionalidad</span>
            <span>{{paciente.nacionalidad}}</span>
          </v-row>
          <v-row no-gutters class="d-flex flex-column mb-6">
            <span class="text-h6">Teléfono Casa</span>
            <span>{{paciente.telefono_casa}}</span>
          </v-row>
        </v-col>
      </v-row>
      <div class="d-flex flex-row justify-center align-center mb-6">
        <h1>Antecedentes médicos</h1>
      </div>
      <v-row no-gutters>
        <v-col>
          <v-row no-gutters class="d-flex flex-column mb-6">
            <span class="text-h6">Sistema de Salud</span>
            <span>{{paciente.sistema_salud}}</span>
          </v-row>
          <v-row no-gutters class="d-flex flex-column mb-6">
            <span class="text-h6">Cesfam</span>
            <span>{{$route.query.lugar}}</span>
          </v-row>
          <v-row no-gutters class="d-flex flex-column mb-6">
            <span class="text-h6">Grupo Sanguíneo</span>
            <span>{{paciente.grupo_sanguineo}}</span>
          </v-row>
        </v-col>
        <v-col>
          <v-row no-gutters class="d-flex flex-column mb-6">
            <span class="text-h6">Alergico a</span>
            <span>No presenta</span>
          </v-row>
          <v-row no-gutters class="d-flex flex-column mb-6" v-if="medicamentos.length > 0">
            <span class="text-h6">Medicamentos</span>
            <li v-for="(medicamento, i) in medicamentos" :key="i">{{medicamento.nombre_medicamento}}</li>
          </v-row>
          <v-row no-gutters class="d-flex flex-column mb-6" v-if="!medicamentos.length > 0">
            <span class="text-h6">Medicamentos</span>
            <span>No tiene medicamentos asociados.</span>
          </v-row>
          <v-row no-gutters class="d-flex flex-column mb-6" v-if="enfermedades.length > 0">
            <span class="text-h6">Enfermedad Crónica</span>
            <li v-for="(enfermedad, i) in enfermedades" :key="i">{{enfermedad.nombre_enfermedad}}</li>
          </v-row>
          <v-row no-gutters class="d-flex flex-column mb-6" v-if="!enfermedades.length > 0">
            <span class="text-h6">Enfermedad Crónica</span>
            <span>No tiene enfermedades.</span>
          </v-row>
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>
<script>
import axios from "axios";

export default {
  name: "FichaMedica",
  props: {
    idPaciente: [String, Number],
  },
  data: () => ({
    paciente: {
      user: {
        rut: "",
      },
    },
    medicamentos: new Array(),
    enfermedades: new Array(),
    loading: false,
  }),
  methods: {},

  mounted() {
    this.loading = true;
    axios
      .get("http://52.87.209.179/api/buscarPaciente/" + this.idPaciente)
      .then((response) => {
        this.paciente = response.data;
        console.log(response.data);
        this.loading = false;
      });
    axios
      .get("http://52.87.209.179/api/paciente/enfermedades/" + this.idPaciente)
      .then((response) => {
        this.enfermedades = response.data;
        console.log(response.data);
      });
    axios
      .get("http://52.87.209.179/api/paciente/medicamentos/" + this.idPaciente)
      .then((response) => {
        this.medicamentos = response.data;
        console.log(response.data);
      });
  },
};
</script>
<style lang="scss">
</style>