
<template>
  <div class="login d-flex justify-center align-center fondo">
    <v-card class="login-card d-flex flex-row rounded-card" outlined>
      <v-img
          class="white--text align-end rounded-izq colorcito"
          height="500px"
          width="400px"
          src="https://i.ibb.co/jHLtBbT/image.png"
      >
        <v-row align="end" class="lightbox white--text pa-2 fill-height">
          <v-col>
            <div>
              <p class="text-h4 text-center ">Salud Digital</p>
            </div>
            <div>
              <p class="text-h7 text-center ">Bienvenido a la plataforma web para la administración de citas
                médicas</p>
            </div>
          </v-col>
        </v-row>
      </v-img>
      <div class="d-flex flex-column justify-center pl-8 pr-8" style="width: 400px">

        <div class="d-flex justify-center pb-6">
          <v-img
              class="white--text align-end"
              contain
              height="75px"
              width="75px"
              src="https://i.ibb.co/930mS6B/Logo.png"
          >
          </v-img>
        </div>
        <v-form>
          <v-text-field placeholder="11.111.111-1" label="Rut" color="blue" v-model="rut" outlined
                        required></v-text-field>
          <v-text-field placeholder="usuario@correo.cl" label="E-mail" v-model="email" outlined
                        required></v-text-field>
          <v-text-field placeholder="********" type="password" label="Contraseña" v-model="password" outlined
                        append-icon="visibility" required></v-text-field>
        </v-form>
        <v-btn class="margenes" color="info" @click="submit">Entrar</v-btn>
      </div>
    </v-card>
  </div>
</template>
<script>
export default {
  name: "Login",
  data: () => ({
    rut: "",
    email: "",
    password: "",
    dates: ["2020-09-14", "2020-09-15"],
  }),
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },
  },
  created() {
    if (this.loggedIn) {
      /*eslint no-unused-vars: ["error", { "args": "none" }]*/
      this.$router.push({name: "Citas Medicas"}).catch((err) => {
      });
    }
  },
  methods: {
    getAllowedDates(val) {
      if (this.dates.indexOf(val) == -1) {
        return true;
      } else {
        return false;
      }
    },
    submit() {
      this.$store
          .dispatch("auth/login", {
            rut: this.rut,
            email: this.email,
            password: this.password,
          })
          .then(
              () => {
                /*eslint no-unused-vars: ["error", { "args": "none" }]*/
                this.$router.push({name: "Citas Medicas"}).catch((err) => {
                });
              },
              (error) => {
                this.loading = false;
                this.message =
                    (error.response && error.response.data) ||
                    error.message ||
                    error.toString();
              }
          );
    },
  },
};
</script>
<style lang="scss">
.login {
  height: 100vh;
}

.v-image {
  border-radius: 0 !important;
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
}

.rounded-card {
  border-radius: 50px !important;
}

.rounded-izq {
  border-bottom-left-radius: 50px !important;
  border-top-left-radius: 50px !important;
}
.margenes{
  margin-left: 100px;
  margin-right: 100px;
}
.fondo{
  background-image: url('https://www.bceleva.com.br/wp-content/uploads/2020/04/wallpaper-azul-papel-de-parede-azul-fundo.jpg');
  background-size: cover;
  background-attachment: fixed;
}


</style>